<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>All To Dos - <%= title %></h1>

    <p><%= todos[0].todo %></p>    
    <u1>
        <% for (let i=0;i<todos.length;i++){%>
       <li>more <%= todos[i].todo %></li>
        <% } %>

    </u1>
</body>
</html>